* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  --black: #17222D;
  --white: #ffffff;
  --white2: #f6fbff;
  --white-blue-light: #EFF4F9;
  --gray-blue-light: #879daf;
  --blue-light: #445566;
  --blue: #1188EE;
  --red: #ee1111;
  font-family: 'Nunito', sans-serif;
}

.main {
  display: flex;
  flex-flow: column nowrap;
}